* {
    margin: 0;
    padding: 0;
}

.counter {
    background-color: blueviolet;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    max-width: 100%;
    background-color: white;
    color: black;
    height: 200px;
    text-align: center;
    border-radius: 10px;
}

.card h3 {
    font-size: 30px;
    font-weight: 700;
    padding: 20px 0;
}

.card button {
    height: 50px;
    background-color: green;
    font-size: 25px;
    border-radius: 10px;
    margin: 5px;
    color: white;
    cursor: pointer;
    padding: 0px 10px;
}